@{
    ViewBag.Title = "ShowAnceta";
}
<div class="col-md-10 my-item divcolor">

    <ul>
        <li> Имя: @ViewBag.Anceta[0]</li>
        <li> Фамилия: @ViewBag.Anceta[1]</li>
        <li> Email: @ViewBag.Anceta[2]</li>
        <li> Password: @ViewBag.Anceta[3]</li>
        <li> Country: @ViewBag.Anceta[4]</li>
        <li> City: @ViewBag.Anceta[5]</li>
        <li> Age: @ViewBag.Anceta[6]</li>
        <li> Gender: @ViewBag.Anceta[7]</li>
    </ul>

</div>